.search {
  padding: 10px;
  display: flex;
  width: 100%;
  label {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  form {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button:hover {
    background-color: #313131;
    border: #ffffff solid 1px;
    color: #ffffff;
    cursor: pointer;
  }
  &__button {
    margin-top: 20px;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
    &__group {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }
  }
  &__clearform {
    margin-top: 5px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
  }
  &__input {
    height: 30px;
  }
  &__select {
    height: 36px;
  }
}

@media only screen and (max-width: 425px) {
  .search {
    &__button {
      width: 90%;
      margin: 15px auto;
      &__group {
        flex-direction: column;
      }
    }
  }
}
